body {
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:azure;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.score-section {
    background-color: azure;
    display: flex;
    justify-content: space-around;
    color: hsl(229, 64%, 46%);
    height: 80px;
    align-items: center;
    font-size: 30px;
    border-radius: 15px;
}

.choice-section {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#result {
    text-align: center;
    font-size: 30px;
}

.button-section {
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#rock {
    border: 10px solid hsl(349, 71%, 58%);
    display: block;
}

#paper {
    border: 10px solid hsl(230, 89%, 69%);
}

#scissors {
    border: 10px solid hsl(39, 84%, 53%);
}

#rock:hover{
    border-color: hsl(349, 70%, 46%);
    cursor: pointer;
}

#rock:disabled {
    border-color: hsl(349, 71%, 58%);
    cursor: not-allowed;
}

#paper:hover {
    border-color: hsl(230, 89%, 55%);
    cursor: pointer;
}

#paper:disabled {
    border-color: hsl(230, 89%, 69%);
    cursor: not-allowed;
}

#scissors:hover {
    border-color: hsl(40, 80%, 44%);
    cursor: pointer;
}

#scissors:disabled {
    border-color: hsl(39, 84%, 53%);
    cursor: not-allowed;
}

@media only screen and (max-width: 760px) {
    button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #result {
        font-size: 24px;
    }
}